@import "tailwindcss";

/* font name */
@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppinsmedium.eot");
  src: url("../fonts/poppinsmedium.eot") format("embedded-opentype"),
    url("../fonts/poppinsmedium.woff2") format("woff2"),
    url("../fonts/poppinsmedium.woff") format("woff"),
    url("../fonts/poppinsmedium.ttf") format("truetype"),
    url("../fonts/poppinsmedium.svg#poppinsmedium") format("svg");
}

*,::before,::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
  padding:0;
}

@theme{
  /* color palette */
  --primary:#2980b9;
  --secondary:#8e44ad;
  --primary-a0:#ef1e46;
  --primary-a20:#c4213b;
  --primary-a40:#9a2130;
  --primary-a60:#721e25;
  --primary-a80:#4d191b;
  --primary-a100:#2a1211;
  --blackcolor:#000000;
  --whitecolor:#ffffff;
  /* font family */
  --fontpoppins: poppinsmedium;
  /* font size */
  --font_md_40: 2.5vw;
  --font_md_38: 2.37vw;
  --font_md_36: 2.25vw;
  --font_md_34: 2.13vw;
  --font_md_32: 2vw;
  --font_md_30: 1.88vw;
  --font_md_28: 1.75vw;
  --font_md_26: 1.63vw;
  --font_md_24: 1.5vw;
  --font_md_22: 1.38vw;
  --font_md_20: 1.25vw;
  --font_md_18: 1.13vw;
  --font_md_16: 1vw;
  --font_md_14: 0.88vw;
  --font_md_12: 0.75vw;
  --font_md_10: 0.63vw;
  --font_md_8: 0.5vw;

  --font_xs_40: 4.23vh;
  --font_xs_38: 4.02vh;
  --font_xs_36: 3.81vh;
  --font_xs_34: 3.6vh;
  --font_xs_32: 3.38vh;
  --font_xs_30: 3.17vh;
  --font_xs_28: 2.97vh;
  --font_xs_26: 2.75vh;
  --font_xs_24: 2.54vh;
  --font_xs_22: 2.33vh;
  --font_xs_20: 2.12vh;
  --font_xs_18: 1.9vh;
  --font_xs_16: 1.69vh;
  --font_xs_14: 1.48vh;
  --font_xs_12: 1.26vh;
  --font_xs_10: 1.06vh;
  --font_xs_8: 0.85vh;
}

.bodyWrapper{
  font-size: var(--fontBase);
}

.bodyWrapper,.rootWrapper{
  height: 100vh;
  min-height: 100vh;
  font-family: var(--fontpoppins);
}

.container{
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-primary{
  background-color: var(--primary);
}
.bg-secondary{
  background-color: var(--secondary);
}

.appLayout{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.mainContent{
  height: 100%;

}