@import "tailwindcss";


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input,select,textarea{
    outline: none;
    border:0;
}

::-webkit-scrollbar{
    display: none;
}

html,body{
    height: 100dvh;
    min-height: 100dvh;
    margin:0;
    padding:0;
}

.appLayout{
    display: grid;
    grid-template-rows:auto 1fr auto;
    height: 100dvh;
    min-height: 100dvh;
}